<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gender-neutralise</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <div class="app">
      {{{body}}}
    </div>
  </body>
</html>
