<div class=container>
  <form class="search-box" action="/bias" method="get">
    <input type="text" name="bias" placeholder="Enter your word">
    <input type="submit" value="Let's neutralise it!">
  </form>
  <p>{{bias}}</p>
<div>
