<!DOCTYPE html>
<html>
  <head>
    <title>Gender-neutralise</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <form class="search-box" action="/" method="post">
      <input type="text" name="word" placeholder="Enter your word">
      <input type="submit" value="Let's neutralise it!">
    </form>
  </body>
</html>
