body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/34/11/da/3411da065a4c22e23629ca413fadd6e8.jpg");
  display: flex;
}


#app {
  padding-top: 50px;
  text-align: center;
  }

  #neutral {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #bias {
    font-size: 25px;
    font-style: italic;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #notes {
    font-size: 25px;
    padding-bottom: 75px;
    padding-left: 25px;
    padding-right: 25px;
  }

.search-form {

}

.search-result {

}

.word-list {
  background-color: white;
}

.word-list-item {

}

.add-word {

}

/*.search-box-wrapper {
    display: inline-flex;
    font-size: 20px;
}

.search-box-input {
    font-size: inherit;
    border: 0.2em solid #7e7;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    outline: 0;
}

.search-box-input:hover,
.search-box-input:focus {
    border-color: #4d4;
}

.search-box-button {
    font-size: inherit;
    border: 0.2em solid #7e7;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #7e7;
    border-left: 0;
    padding: 0 0.75em;
    color: white;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.search-box-button:hover,
.search-box-button:focus {
    border-color: #4d4;
    background-color: #4d4;
}*/
