body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/34/11/da/3411da065a4c22e23629ca413fadd6e8.jpg");
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.title {
  font-family: 'Baloo', cursive;
  font-size: 45px;
  color: grey;
}

#app {
  padding-top: 50px;
  text-align: center;
}

#neutral {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

#bias {
  font-size: 20px;
  font-style: italic;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

#notes {
  font-size: 20px;
  padding-bottom: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

.search-form {
    padding: 15px 0px 50px 0px;
}

.search-result {
}

.add-word {
  padding-top: 25px;
}

.word-list {
}

.close-button {

}

.row-3 {
  padding-top: 50px;
}

.row-4 {
  padding-top: 50px;
}

.flex-grid {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}


/*.search-box-wrapper {
    display: inline-flex;
    font-size: 20px;
}

.search-box-input {
    font-size: inherit;
    border: 0.2em solid #7e7;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    outline: 0;
}

.search-box-input:hover,
.search-box-input:focus {
    border-color: #4d4;
}

.search-box-button {
    font-size: inherit;
    border: 0.2em solid #7e7;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #7e7;
    border-left: 0;
    padding: 0 0.75em;
    color: white;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.search-box-button:hover,
.search-box-button:focus {
    border-color: #4d4;
    background-color: #4d4;
}*/
